@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-xs: 490px;
}

dialog {
  margin: auto;
}

/* If changed, update the inline style in index.html */
.dark {
  background-color: var(--color-gray-900);
}
